body {
    font-family: Arial, sans-serif;
}


/*   begin navbar */
ul {
    background-color: white;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid;
    border-color: #FF9933;
    overflow: hidden;
    width: 100%;
    border-width: thick;
}

/*img {
        width: 200px;
        height: 85px;
    }*/

.verticalLine {
    border-left: thick solid #FF9933;
    width: 10px;
    height: 50px;
    padding-right: 50px;
}

li {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

    li a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: black;
        padding: 50px;
        box-shadow: 0.5px 0px 3px;
        margin: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

.contact-nav {
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 80px;
    width: 50px;
    float: right;
    display: flex;
}

    .contact-nav a {
        width: 35px;
        height: 35px;
        padding-top: 0px;
        padding-left: 5px;
        padding-bottom: 1px;
    }

    .contact-nav i {
        vertical-align: middle;
        margin-top: 17px;
        margin-right: 5px;
    }
li a:hover {
    background-color: #FF9933;
    transition-duration: 0.5s;
}

nav ul li a:focus {
    outline: none;
    color: #ff0000;
    border-bottom: 2px solid #ff0000
}

/*    einde navbar begin main-content */


.logo-nav {
    height: 100px;
}

.first-content {
    padding-top: 50px;
 
    padding-left: 150px;
    font-size: 25px;
    padding-right: 150px;
}

.first-content h1 {
    font-size: 40px;
}
.page-info {
    padding-top: 55px;
    padding-left: 150px;
}

.first-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.eenhoorn {
    display: flex;
    flex-direction: column;
}

.eenhoorn-image {
    width: 500px;
    height: auto;
}

.eenhoorn h2 { 
    width: 500px;
}

.eenhoorn p {
    width: 500px;
    font-size: 20px;
}

.winkelcentrum-schalkwijk {
    float: right;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 165px;
}

.winkel-image {
    width: 500px;
    height: 376px;

}

.winkelcentrum-schalkwijk h2{
    width: 500px;
}

.winkelcentrum-schalkwijk p {
    width: 500px;
    font-size: 20px;
}


.last-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
    padding-right: 150px;
}

.kinepolis {
    display: flex;
    flex-direction: column;
}

.kinepolis-image {
    width: 500px;
    height: 376px;
}

.kinepolis-foto h2 {
    width: 500px;
}

.kinepolis p {
    width: 500px;
    font-size: 20px;
}

.mahzen {
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    padding-bottom: 100px;
}

.mahzen-image {
    width: 500px;
    height: 376px;
}

.mahzen h2{
    width: 500px;
}

.mahzen p {
    width: 500px;
    font-size: 20px;
}

footer {
    border-top: 1rem solid;
    border-color: #FF9933;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 99%;
    text-decoration: none;
}

    footer a {
        justify-self: flex-end;
        text-decoration: none;
        font-size: 15px;
        text-decoration-color: black;
    }

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .first-content {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        width: 85%;
    }

        .first-content h1 {
            font-size: 30px;
        }

    .page-info {
        padding-left: 15px;
    }

    .first-two,
    .last-two {
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    .eenhoorn-image,
    .winkel-image,
    .kinepolis-image,
    .mahzen-image {
        width: 100%;
        height: auto;
    }

    
   
    .eenhoorn h2,
    .eenhoorn p,
    .kinepolis-foto h2,
    .kinepolis p {

        width: 100%;
    }

    .winkelcentrum-schalkwijk {
        width: 100%;
    }

    .winkelcentrum-schalkwijk h2{
        width: 320px;
    }
 
    .winkelcentrum-schalkwijk p {
        width: 95%;
    }
    .winkelcentrum-schalkwijk img {
        padding-right: 0;
    }
    .mahzen {
        padding-right: 165px;
        width: 100%;
    }

    .mahzen p {
        width: 95%;
    }
        footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        footer a {
            margin-top: 10px;
            font-size: 14px;
        }
}